{% extends 'base.html.twig' %}
{% block stylessheets %}

{% endblock %}
{% block body %}
    <h1>Empleado</h1>
    {% for employees in employee %}

            <h1>{{ employees.name}}</h1>
        <h1>{{ employees.latitude}}</h1>
        <h1>{{ employees.longitude}}</h1>


        </div>

    {% endfor %}
{% endblock %}